* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: lightskyblue;
    font-size: 2em;
    border: 2px solid black;
    width: 80%;
    padding: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 5px 5px 5px blueviolet;
    border-radius: 20px;
}

header > h2 {
    font-size: 0.5em;
}

main > div {
    background-color: rgb(195, 221, 221);
    font-size: 1.5em;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 20px;
}

main {
    background-color: lightgray;
    width: 80%;
    height: 4100px;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px black;
    border-radius: 20px;
}

div > table {
    border-collapse: collapse;
}

thead > tr > th {
    font-size: 1.5em;
    background-color: rgb(206, 205, 204);
    border: 2px solid black;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}

tbody > tr > td {
    font-size: 1.5em;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 3px;
    border-collapse: collapse;
    padding: 10px;

}

tfoot > tr > th, td {
    font-size: 1.5em;
    border: 2px solid black;
    background-color: rgb(206, 205, 204);
    border-radius: 3px;
    padding: 10px;
}

.meses {
    float: left;
    font-size: 1.5em;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
}

0.15 - 1.00 - 1.38 - 2.14 - 5.00
0.11 - 1.40 - 2.12 - 3.06 - 4.00